%h1 グッズ一覧

= link_to '追加', new_good_path

- @goods.each do |good|
  = good.name
  = good.title
  = good.character
  = good.value
  = link_to '削除', good_path(good), method: :delete, data: { confirm: '本当に削除しますか？' }